.latest {
	margin-bottom: 40px;
}

.j-item {
	border: solid 1px #d1d1d1;
	border-radius: 3px;
	background: #ededed;
	line-height: 100%;
	position: relative;
	overflow: hidden;
}

.j-left {		
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	background: url(images/j-l-r.gif) repeat-y;
}

.j-right {		
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	background: url(images/j-l-r.gif) repeat-y 100% 0;
}

.gr {
	top: 0;
	width: 65px;
	z-index: -0;
	height: 10000px;
	position: absolute;
}

.gr.left-fill {
	left: 3px;
	background: url(images/j-l.png) repeat-y 0 0;
}

.gr.right-fill {
	right: 3px;
	background: url(images/j-r.png) repeat-y 100% 0;
}

#content .j-item a {
	color: #000;
	text-decoration: none;
}

#content .j-item .title {
	display: block;
	font-size: 14px;
	margin: 10px 0;
}

#content .j-item .lead {
	font-size: 11px;
	text-decoration: underline;
}

.jcarousel-skin-tango {

}

.jcarousel-skin-tango .jcarousel-container {
	padding: 10px 3px;
	position: static !important;
}

.jcarousel-skin-tango .jcarousel-direction-rtl {
	direction: rtl;
}

.jcarousel-skin-tango .jcarousel-container-horizontal {
}


.jcarousel-skin-tango .jcarousel-clip-horizontal {
}

.jcarousel-skin-tango .jcarousel-item {
    width: 200px;
}

.jcarousel-skin-tango .jcarousel-item-horizontal {
	margin-left: 0;
    margin-right: 20px;
}


.jcarousel-skin-tango .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}

.jcarousel-skin-tango .jcarousel-next-horizontal {
    z-index: 10;
    position: absolute;
    top: 50%;
    right: 0px;
    width: 39px;
    height: 133px;
    margin-top: -65px;
    cursor: pointer;
    background: transparent url(images/next-h.png) no-repeat 0 0;
}


.jcarousel-skin-tango .jcarousel-prev-horizontal {
	z-index: 10;
    position: absolute;
    top: 50%;
    left: 0px;
    width: 39px;
    height: 133px;
    margin-top: -65px;
    cursor: pointer;
    background: transparent url(images/prev-h.png) no-repeat 0 0;
}


.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background: transparent url(images/prev-h-d.png) no-repeat 0 0;
}
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:active {
    cursor: default;
    background: transparent url(images/next-h-d.png) no-repeat 0 0;
}