.jcarousel-skin-ie7 .jcarousel-container {
    background: #f4f4f4;
    border-top: 1px solid #808080;
    border-bottom: 1px solid #808080;
}

.jcarousel-skin-ie7 .jcarousel-direction-rtl {
	direction: rtl;
}

.jcarousel-skin-ie7 .jcarousel-container-horizontal {
    width: 882px;
    padding: 20px 40px;
}

.jcarousel-skin-ie7 .jcarousel-clip-horizontal {
    width:  882px;
    height: 105px;
}

.jcarousel-skin-ie7 .jcarousel-item {
    border: 1px solid #d2d2d2;
    padding: 4px;
}

.jcarousel-skin-ie7 .jcarousel-item img {
	width: 150px;
	height: 95px;
	display: block;	
}

.jcarousel-skin-ie7 .jcarousel-item:hover {
    border-color: #808080;
}

.jcarousel-skin-ie7 .jcarousel-item-horizontal {
    margin-left: 0;
    margin-right: 20px;
}

.jcarousel-skin-ie7 .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left: 7px;
	margin-right: 0;
}

.jcarousel-skin-ie7 .jcarousel-item-placeholder {
}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-ie7 .jcarousel-next-horizontal,
.jcarousel-skin-ie7 .jcarousel-prev-horizontal {
    position: absolute;
    top: 50px;    
    width: 22px;
    height: 37px;
    cursor: pointer;
    background: transparent url(/design/images/nav.png) no-repeat 0 0;
}

.jcarousel-skin-ie7 .jcarousel-next-horizontal {
	right: 10px;
	background-position: -25px 0;
}

.jcarousel-skin-ie7 .jcarousel-prev-horizontal {
	left: 10px;
}

.jcarousel-skin-ie7 .jcarousel-direction-rtl .jcarousel-next-horizontal {
    left: 5px;
    right: auto;
}

.jcarousel-skin-ie7 .jcarousel-next-horizontal:hover {
    background-position: -25px -37px;
}

.jcarousel-skin-ie7 .jcarousel-next-horizontal:active {
    background-position: -25px -74px;
}

.jcarousel-skin-ie7 .jcarousel-next-disabled-horizontal,
.jcarousel-skin-ie7 .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-ie7 .jcarousel-next-disabled-horizontal:active {
    cursor: default;
    background-position: -9999px;
}

.jcarousel-skin-ie7 .jcarousel-direction-rtl .jcarousel-prev-horizontal {
    left: auto;
    right: 5px;
}

.jcarousel-skin-ie7 .jcarousel-prev-horizontal:hover {
    background-position: 0px -37px;
}

.jcarousel-skin-ie7 .jcarousel-prev-horizontal:active {
    background-position: 0px -74px;
}

.jcarousel-skin-ie7 .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-ie7 .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-ie7 .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background-position: -96px 0;
}