/* authorization routine */
@import 'mr.css';

html, body {height: 100%}

/* lets begin to read arabic */
#wrapper{
	min-height: 100%;
	height: auto !important;
	height: 100%;
	font: 14px/140% arial, sans-serif;
	background: #155ba5 url(../images/auth/wrp-rpt.jpg) repeat-x;
	}
#page{	
	min-height: 100%;
	height: auto !important;
	height: 100%;
	overflow: hidden;	
	background: url(../images/auth/auth-title.jpg) no-repeat 50% 0;
	}
#form{
	text-align: center;
	padding-top: 230px;	
	}
	#form h1{
		color: #fff;
		font-size: 36px;
		}
	#form h2{
		color: #bbd3e8;
		font-size: 24px;
		margin-bottom: 1.5em;
		}
	#form form{
		width: 330px;
		margin: 0 auto;
		padding: 1em;
		background: #fff;		
		position: relative;
		border-radius: 10px;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;		
		box-shadow:0 0 10px 3px #125091;
		-moz-box-shadow:0 0 10px 3px #125091;
		-webkit-box-shadow:0 0 10px 3px #125091;
		behavior: url(/design/css/PIE.htc);
		}
	#form form h3{
		margin-top: 0;
		color: #4d4d4d;		
		text-transform: uppercase;
		}
	#form form p{
		zoom: 1;
		overflow: hidden;
		}
	#form form p.in label{
		float: left;
		width: 25%;
		color: #4d4d4d;
		text-align: right;
		padding-top: .3em;
		}
	#form form p.in input{
		width: 65%;
		padding: 2px;
		font-size: 16px;		
		font-weight: bold;
		border: solid 1px #b8b8b8;
		background: url(../images/auth/mf.png);
		}
	#form form p.in input:focus,
	#form form p.in textarea:focus,
	#form form p.in select:focus{
		background: url(../images/auth/mf-a.png);	
		}
	#form form p.in input.focused,
	#form form p.in textarea.focused,
	#form form p.in select.focused{
		background: url(../images/auth/mf-a.png);	
		}
	#form form p.in input[type="text"],
	#form form p.in input[type="password"],
	#form form p.in textarea,
	#form form p.in select{
		outline: none;
		}
	#form form p.submit{
		margin: 1.5em 0 0 0;
		}
	#form form p.submit input{		
		border: 0px;
		color: #fff;
		width: 114px;
		height: 31px;
		cursor: pointer;
		font-size: 16px;
		font-weight: bold;
		background: url(../images/auth/submit.png) no-repeat;
		}
	#form .error_explanation{
		line-height: 120%;
		text-transform: uppercase;	
		color: #fff;	
		padding: 1em;
		font-size: 11px;			
		margin-bottom: 2em;
		width: 330px;
		margin: 0 auto;
		background: #cc0000 url(../images/auth/error_lines1.gif) no-repeat;
		}
#s-footer{
	padding: 2em 0;
	text-align: center;
	}
	#s-footer p{
		margin: 0;
		color: #82a8cf;		
		font-size: 12px;		
		}

/* customize page for tatneft */
#wrapper.tatneft{
	background: #179f67 url(../images/auth/tn_rpt.png) repeat-x;
	}
#wrapper.tatneft #page{
	background: url(../images/auth/header.png) no-repeat 50% 0;
	}
#wrapper.tatneft #form form{
	box-shadow:0 0 10px 3px #00864f;
	-moz-box-shadow:0 0 10px 3px #00864f;
	-webkit-box-shadow:0 0 10px 3px #00864f;
	behavior: url(/design/css/PIE.htc);
	}
#wrapper.tatneft #form h2{
	color: #fff;
	}
#wrapper.tatneft #s-footer p{
	color: #fff;
	}