html, body, div, form, fieldset, legend, label{
	margin: 0;
	padding: 0; 
	}
table{
	border-collapse: collapse;
	border-spacing: 0;
	}
th, td{
	text-align: left;
	vertical-align: top;
	}
h1, h2, h3, h4, h5, h6, th, td, caption {
	font-weight:normal;
	}
img{
	border: 0;
	}
input[type="text"], input[type="password"]{
	outline: none;
	padding: 0;
	}
select{
	outline: none;
	padding: 0;
	}
textarea{
	resize: none;
	outline: none;
	padding: 0;
	}