
	#container{
		padding: 25px;
		position: relative;
		min-width: 900px;
		}
	#container #holder{	
		overflow: hidden;	
		}
		#container #navigation{
			float: left;
			width: 16%;
			margin-bottom: 30px;
			}
		#container #content{
			width: 80%;
			padding-left: 25px;
			margin-right: 10px;
			float: right;
			border-left: solid 1px #999;
			margin-bottom: -3000px;
			padding-bottom: 3030px;
			}
	#container #footer{
		border-top: solid 1px #999;		
		padding-top: 5px;
		}