body, html {
	margin:0;
	padding:0;
	font-family:Georgia, Times New Roman, Times, serif;
	background:#fff
	url(../images/hmp.png);
/*	background:#fff
	url(../images/top-14.gif);*/
	height:100%;
	}
	
.all {
	min-height:100%;
	margin-bottom:-126px;
	}

* html .all {
	height:100%;
	}

.empty {
	height:126px;
	clear:both;
	}

.footer {
	height:126px;
	}	

td {
	color:#000;
	font-size:14px;
	}

p {
	font-size:1em;
	padding:0;
	margin:0 0 1.5em 0;
	line-height:1.5em;
	}	
	
img {
	border:0;
	}	

a:img {
	border:0;
	}	
	
a	{
	color:#05a;
	text-decoration:underline;
	}

a:hover	{
	color:#c00;
	text-decoration:none;
	}

h1, h2, h3 {
	font-family:Arial, Helvetica, sans-serif;
	}

h1 {
	font-size:1.75em;
	font-weight:normal;
	padding:0; 
	margin:0 0 1em 0;
	line-height:1em;
	color:#000;
	}
	
h2 {
	font-size:1.3em;
	font-weight:normal;
	padding:0; 
	margin:0 0 1.15em 0;
	line-height:1.15em;	
	color:#000;
	}

h3 {
	font-size:1em;
	font-weight:bold;
	padding:0;
	margin:0;
	line-height:1.5em;
	color:#000;
	}
	
ol,ul {
	margin:0 0 1.5em -0.6em;
	padding:0;
	}	

li {
	padding-left:0.6em;
	background:
	url(../images/ypoint.gif)
	0 10px
	no-repeat;
	line-height:1.5em;
	}
	
/*ie6_png_fix*/	

img, div { behavior: url(design/images/iepngfix.htc) }	
	
/*Skeleton*/

.text {
	width:100%;
	margin:0 auto;
	border-collapse:collapse;
	}
	
.text td {
	text-align:left;
	padding:0;
/*	border:1px solid green;*/
	}

.text td.left {
	width:16%;
	padding:0 35px 0 30px;
	}

.text td.right {
	width:22%;
	padding:0 20px 0 20px;
	}
	
.text td.content {
	width:62%;
	padding:0;
	}	
	
.text td.header {
	padding:0;
	background:
	url(../images/lib_back.jpg)
	top right
	no-repeat;
	}		
	
.content_main {
	padding:0 10% 40px 0;
	}	
	
/*Header*/	

.top {
	height:199px;
	background:#fff
	left bottom 
	url(../images/hmp_m.gif)
	repeat-x;
	}

.header_box {
	height:165px;
	background:
	url(../images/hand.png)
	61% 0
	no-repeat;
	}

.lang {
	margin:0;
	font-family:Arial, Helvetica, sans-serif;
	}

.lang a {
	color:#777;
	}
	
.lang a:hover {
	color:#c00;
	}	
	
.apel {
	margin:33px 0 22px 0;
	}	
	
.sans {
	font-family:Arial, Helvetica, sans-serif;
	}	

.issn {
	color:#d28c87;
	letter-spacing:0.15em;
	line-height:2em;
	margin:0 0 0 1.25em;
	}
	
.logo {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:28px;
	padding:30px 0 0 0;
	font-weight:bold;
	margin:0;
	line-height:1em;	
	color:#a00;
	font-variant:small-caps;
	letter-spacing:2px;
	text-shadow:#fff 0 1px;
	}	
	
	
/*Awards*/

.text td.awards {
	width:25%;
	padding:0 10px 0 0;
	}
	
.text td.awards p {	
	font-size:0.86em;
	line-height:1.74em;
	margin-bottom:1.74em;
	font-style:italic;
	}
	
.awards_header {
	margin:0 0 1.5em 0;
	}	
	
/*News*/

.text td.news {
	width:50%;
	padding:0 20px 21px 0;
	}
	
.text td.news h3 {
	margin:0;
	}	
	
.date {
	font-family:Arial, Helvetica, sans-serif;
	font-size:0.86em;
	line-height:1.74em;
	margin:0;
	color:#777;
	}		

/* About */
	
.about {
	width:100%;
	table-layout:fixed;
	border-collapse:collapse;
	margin:0 0 30px 0;
	}	
	
.about td.pic {
	padding:0;
	}	
	
.about td.txt {
	padding:0 20px 0 0;
	vertical-align:middle;
	}
	
.about td.txt p {
	font-size:1.14em;
	margin-bottom:1em;
	}	

.about td.txt p.new {
	font-size:1.14em;
	margin-bottom:0;
	}	

/*Main_menu*/	

.main_menu {
	font-size:16px;
	float:left;
	width:100%;
	position:relative;
	left:-20px;
	}
	
.main_menu a {
	color:#fff;
	}
	
.main_menu a:hover {
	color:#d28c87;
	}

.main_menu ul {
	margin:0;
	padding:0;
	list-style:none;
	}

.main_menu li {
	margin:0;
	padding:0;
	display:inline;
	}

.main_menu a, .main_menu div.current {
	float:left;
	margin:0;
	padding:0 0 0 20px;
    }
	
.main_menu div.current {
	background:url(../images/tab_left.gif)
	top left
	no-repeat;
    }	
    
.main_menu a span, .main_menu div.current span {
	float:left;
	display:block;
	padding:2px 20px 8px 0;
	}

.main_menu a span {
	text-decoration:underline;
	}
	
.main_menu div.current span {
	background:url(../images/tab_right.gif)
	top right
	no-repeat;
	color:#000;
	}
	
.main_menu a:hover span {
	text-decoration:none;
	cursor:pointer;
	}	
	
/*Left_menu*/	

.left_menu {
	width:100%;
	}

.left_menu ul {
	margin:0;
	padding:0;
	}
	
.left_menu li {
	line-height:1.5em;
	list-style:none;
	padding:0;
	margin:0 0 1.5em 0;
	background:none;
	}

.left_menu li.mm_current {
	font-weight:bold;
	color:#a00;
	}	
	
/*Right Box*/	

.right_box {
	padding:1.5em 1.25em 0 1.25em;
	background:url(../images/hmp_w.gif);
	border-radius:10px;
	border:1px solid #EFE6DE;
	}
	
/*Archive*/	

.archive {
	padding:0 3% 40px 0;
	}

.tabs {
	width:100%;
	overflow:hidden;
	margin:0;
	zoom:1;
	position:relative;
}

.tabs dt {
	font-family:Arial, Helvetica, sans-serif;
	color:#05A;
	float:left;
	line-height:2;
	height:2em;
/*	background:#e9e0cf;
	border:1px solid #e9e0cf;
	border-bottom:0;*/
	padding:0 1em;
	position:relative;
	left:20px;
	margin-right:5px;
	cursor:pointer;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
}

.tabs dt:hover {
	background-color:#fff;
}

.tabs dt.selected {
	border:1px solid #e9e0cf;
	border-bottom:0;
	background:#fff;
	z-index:3;
	cursor:auto;
	color:#a00;
	font-weight:bold;
}

.tabs dd {
	display:none;
	float:right;
	width:100%;
	margin:2em 0 0 -100%;
	position:relative;
	z-index:2;
}

.tabs dd.selected {
	display:block;
}

.tabs .tab-content {
	border:1px solid #e9e0cf;
	padding:0 20px 20px 20px;
	background:#fff;
}	

.archive_section {
	border-bottom:1px solid #ccc;
	padding-bottom:2px;
	margin:1em 0 0.5em 0;
	}
	
.archive_title {
	margin:0 0 0.5em 0;
	}

.archive_author {
	font-style:italic;
	color:#777;
	}
	
.article_page {
	position:relative;
	background:#fff;
	padding:40px;
	}	
	
.article_section, .article_udk {	
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	padding-bottom:1px;
	}
	
.article_section {
	position:absolute;
	top:40px;
	right:40px;
	}
	
.article_udk {
	border-bottom:1px solid #ccc;
	}

.article_title {
	margin:0 0 0.5em 0;
	text-align:center;
	}	
	
.article_author {
	margin:0;
	text-align:center;
	font-weight:bold;
	}
	
.article_author_position {
	margin:0 0 0.5em 0;
	text-align:center;
	}		
	
.article_adress {
	font-style:italic;
	color:#777;
	text-align:center;
	}
	
.article_keywords {
	padding:7px 0 10px 0;
	border:1px dashed #bbb;
	border-left:none;
	border-right:none;
	}		
	
.article_subheader {
	font-weight:bold;
	margin:0;
	}		
	
/*Form_design*/	

.register_page {
	padding:0 3% 0px 0;
	}

.register {
	padding:30px 0;
	margin-bottom:20px;
	background:#fff;
}

.register p {
	margin:0 0 1em 0;
}

.register p.header {
	margin-left:210px;
	font-weight:bold;
	color:#333;
}

.register p label {
	float:left;
	margin:0 0 0 30px;
	text-align:left;
	width:180px;
}

.register p input {
	width:320px;
	padding:2px;
}

.register textarea {
	width:400px;
	border:1px solid #aaa;
	padding:2px;
	height:100px;
}

.register_button {
	margin:20px 0 0 210px;
	}

	
/*Misc*/

.payment {
	margin:0 0 1.5em 0;
	line-height:1.5em;
	}
	
.payment span a {
	text-decoration:none;
	border-bottom:1px dashed #05a;
	}	
	
.payment span a:hover {
	text-decoration:none;
	border-bottom-color:#c00;
	}	
	
.payment div {
	padding-top:1.5em;
	}

.pd {
	background:
	url(../images/pd.png)
	0 2px
	no-repeat;
	padding:0 0 3px 20px;
	}
	
.smallcaps {
	letter-spacing:0.05em;
	font-variant:small-caps;
	}
	
.impact {
	font-size:2.57em;
	height:96px;
	padding:30px 0 0 10px;
	color:#333;
	}	
	
.pub {
	font-size:1.14em;
	background:url(../images/pen.png)
	100px 7px
	no-repeat;
	padding:0 0 20px 0;
	margin:0 0 1.32em 0;
	line-height:1.32em;
	border-bottom:1px dashed #c4837a;
	}
	
.search {
	font-size:0.86em;
	line-height:1.2em;
	margin:0 0 0.3em 0;
	font-style:italic;
	}

.search_input {
	font-family:Arial, Helvetica, sans-serif;
	font-size:0.86em;
	width:96%;
	margin:0 0 0.5em 0;
	padding:0.2em;
	border:1px solid #bbb;
	}	
	
.scissor {
	border-bottom:1px dashed #999;
	height:21px;
	margin:0 0 21px 0;
	background:url(../images/scissor.png)
	7% 2px
	no-repeat;
	}	
	
.out {
	padding-left:16px;
	background:
	url(../images/out.gif)
	no-repeat
	0 4px;
	}
	
.gutdesign {
	background:
	url(../images/gutdesign.gif)
	no-repeat
	0 1px;
	padding:0 0 1px 20px;
	}	

.main_menu div.current a {
	padding:0;
	color:#05a;
    }
	
input {
	font-size:12px;
	}	
.main_menu div.current a {
       padding:0;
       color:#05a;
   }
       
input {
       font-size:12px;
       }

table.archive_list{
	margin-top: 20px;
}
table.archive_list td{
	padding: 6px 10px;
}
.journal_about{
	margin: 30px 0 0 10px;
	padding: 0 0px 20px;
	border-bottom: solid 1px #e1e1e1;
}
.journal_about h3 {
	padding: 10px 0;
	font-size: 15px;
}