/* forms base */
.form{}
.form .line{
	margin-bottom: .8em;
	}
.form label{	
	color: #000;
	display: block;
	font-size: 13px;
	font-weight: bold;	
	margin-bottom: .2em;
	}
.form label.inline{
	margin: none;
	display: inline;	
	font-weight: normal;	
	}
.form .inline input{
	padding: 3px 2px;
	border: solid 1px #a0a0a0;	
	background: url(../images/mf.png);
	vertical-align: middle;
	}
.form .inline span{
	vertical-align: middle;
	}
.form .ih{
	padding: 2px 0px;
	margin-right: 4px;
	border: solid 1px #a0a0a0;	
	background: url(../images/mf.png);
	}
.form .ih input{	
	width: 100%;
	border: none;
	font-size: 13px;
	background: none;	
	padding: 0 2px;
	margin: 0;
	}
.form .sh{
	border: solid 1px #d4dee8;
	}
.form .sh select{	
	margin: 0;	
	padding: 2px 0;
	width: 100%;
	font-size: 13px;
	}
.form .ih.inline,
.form .sh.inline{
	display: inline-block;
	}
.form .ih.x-small,
.form .sh.x-small{
	width: 80px;
	}
.form .ih.small,
.form .sh.small{
	width: 180px;
	}
.form .ih.medium,
.form .sh.medium{
	width: 260px;
	}
.form .ih.wide,
.form .sh.wide{
	width: 320px;
	}
.form .cols{
	zoom: 1;
	overflow: hidden;
	}
.form .cols .col{
	float: left;
	margin-right: 1.2em;
	}
.buttons-set input{
	border: 0;
	margin: 0;
	padding: 0;
	cursor: pointer;	
	background: none;
	}
.buttons-set a,
.buttons-set ins{	
	height: 22px;
	padding: 0 8px;	
	cursor: pointer;	
	font-size: 12px;		
	margin: 0 4px 0 0;
	line-height: 22px;			
	border-radius: 6px;	
	vertical-align: top;
	text-decoration: none;
	display: inline-block;
	color: #000 !important;
	background-color: #d2d2d2;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f5f5f5), to(#c7c7c7));		
	background: -moz-linear-gradient(-90deg, #f5f5f5, #c7c7c7);	
	border: solid 1px #b6b6b6;		
	}
.buttons-set a.red,
.buttons-set ins.red{
	color: #fff !important;
	background-color: #f5464e;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ff565e), to(#ee3942));		
	background: -moz-linear-gradient(-90deg, #ff565e, #ee3942);	
	border: solid 1px #dd222b;
	}	
.buttons-set ins.red input{
	color: #fff !important;
	}
.buttons-set a.green,
.buttons-set ins.green{
	color: #fff !important;
	background-color: #1dbd7b;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#2fd38f), to(#0fac6b));		
	background: -moz-linear-gradient(-90deg, #2fd38f, #0fac6b);	
	border: solid 1px #279668;
	}	
.buttons-set ins.green input{
	color: #fff !important;
	}
.submit{
	margin-top: 2em;
	margin-bottom: 3em;
	padding-top: .5em;	
	border-top: dotted 1px #ccc;
	}	
.errors{
	line-height: 120%;
	text-transform: uppercase;	
	color: #fff;	
	padding: 5px 20px 5px 60px;
	font-size: 11px;			
	margin: 1em 0;
	background: #cc0000 url(../images/error_lines1.gif) no-repeat;
	}
.fl{
	float: left;
	}
.fr{
	float: right;
	}
.menoff{
	margin-bottom: .8em;
	}
.nowrap{
	white-space: nowrap;
	}
.tc{
	text-align: center;
	}