table.striped {
	border-collapse: collapse;
	border: 1px solid #D8D8D8;
}

table.striped thead td {
	background-color: #00b473;
	color: white;
	border: 1px solid #D8D8D8;
	padding: 5px;
	font-weight: 700;
}

table.striped td {	
	padding: 5px;
	background: #fff;
	border-left: 1px solid #D8D8D8;
}

table.selectable tbody tr{
	cursor: pointer;
}

table.striped tbody tr:hover td,
table.striped tbody tr.even:hover td{
	background-color: #fffcf0;
}

table.striped tbody tr.even td{
	background-color: #f2f2f2;
}

table.striped tbody tr.selected td{
	background: #3d80df;
	color: #ffffff;
	/*border-left: 1px solid #346DBE;
	border-bottom: 1px solid #7DAAEA; */
}

table.striped tbody tr.ruled td{
	color: #000;
	background-color: #C6E3FF; 
	/*font-weight: bold; */
	/*border-color: #3292FC; */
	/*border-left: 1px solid #D9D9D9;*/
}

/* Opera fix */
head:first-child+body table.striped tr.ruled td{
	background-color: #C6E3FF; 
}

table.striped tbody tr.selected a {
	background-color:inherit;
	color:#DDDDDD;
}
table.striped tbody tr.ruled a {
	background-color:inherit;
	color:#1002CC;
}
table.striped tbody a:link {
	background-color:inherit;
	color:#1002CC;
}
table.striped tbody a:visited {
	background-color:inherit;
	color:#1002CC;
}
table.striped tbody a:active {
	background-color:inherit;
	color:#000000;
}
table.striped tbody a:hover {
	background-color:inherit;
	color:#000000;
}

.stripe_button
{
	padding:3px;
	border: 1px solid #666;
	background-color: #C6E3FF;
	cursor: pointer;
}

table.sortable a.sortheader {
	background-color:inherit;
	color: #000;
	font-weight: bold;
	text-decoration: none;
	display: block;
	white-space: nowrap;
}

table.sortable a.sortheader:hover {
	background-color:inherit;
	font-color: inherit;
}

table.sortable span.sortarrow {
	background-color:inherit;
	color: #FFF;
	text-decoration: none;
	font-weight: bold;
}