body, html {
	margin:0;
	padding:0;
	font-family:Georgia, Times New Roman, Times, serif;
	background:#fff
	url(/design/images/hmp.png);
/*	background:#fff
	url(top-14.gif);*/
	height:100%;
	}
	
.all {
	min-height:100%;
	margin-bottom:-126px;
	}

* html .all {
	height:100%;
	}

.empty {
	height:126px;
	clear:both;
	}

.footer {
	height:126px;
	}	

td {
	color:#000;
	font-size:14px;
	}

p {
	font-size:1em;
	padding:0;
	margin:0 0 1.5em 0;
	line-height:1.5em;
	}	
	
img {
	border:0;
	}	

a:img {
	border:0;
	}	
	
a	{
	color:#05a;
	text-decoration:underline;
	}

a:hover	{
	color:#c00;
	text-decoration:none;
	}

h1, h2, h3 {
	font-family:Arial, Helvetica, sans-serif;
	}

h1 {
	font-size:1.5em;
	font-weight:normal;
	padding:0; 
	margin:0 0 1em 0;
	line-height:1em;
	color:#000;
	}
	
h2 {
	font-size:1.3em;
	font-weight:normal;
	padding:0; 
	margin:0 0 1.15em 0;
	line-height:1.15em;	
	color:#000;
	}

h3 {
	font-size:1em;
	font-weight:bold;
	padding:0;
	margin:0;
	line-height:1.5em;
	color:#000;
	}
	
ol,ul {
	margin:0 0 1.5em -0.6em;
	padding:0;
	}	

li {
	padding-left:0.6em;
	background:
	url("/design/images/ypoint.gif")
	0 10px
	no-repeat;
	line-height:1.5em;
	}
	
/*Header*/	

.lang {
	margin:0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:0.86em;
	line-height:1.74em;
	}

.lang a {
	color:#777;
	}
	
.lang a:hover {
	color:#c00;
	}	

.vak {
	margin:0 0 1em 1.25em;
	}
	
.apel {
	margin:9px 0 18px 0;
	}	
	
.bsh {
	width:100%;
	height:42px;
	}

.sans {
	font-family:Arial, Helvetica, sans-serif;
	}	

.issn {
	letter-spacing:0.15em;
	margin:0 0 0 1.25em;
	}
	
.top {
	border-top:5px solid #93170F;
/*	border-top:2px solid #fff;*/
	padding-top:16px;
	height:106px;
	background:#fff
	url(/design/images/hmp_w.png);
	}

.logo {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:1.5em;
	padding:19px 0 0 0;
	font-weight:bold;
	margin:0;
	line-height:1em;	
	color:#a00;
	font-variant:small-caps;
	letter-spacing:0.1em;
	text-shadow:#fff 0 1px;
	}	

/*Skeleton*/

.text {
	width:100%;
	margin:0 auto;
	border-collapse:collapse;
	}
	
.text td {
	text-align:left;
	padding:0;
/*	border:1px solid green;*/
	}

.text td.left {
	width:16%;
	padding:0 35px 0 30px;
	}

.text td.right {
	width:22%;
	padding:0 20px 0 20px;
	}
	
.text td.content {
	width:62%;
	padding:0;
	}	
	
.content_main {
	padding:0 7% 0 0;
	font-size:16px;
	}	
	
/*Awards*/

.text td.awards {
	width:25%;
	padding:0 10px 0 0;
	}
	
.text td.awards p {	
	font-size:0.86em;
	line-height:1.74em;
	margin-bottom:1.74em;
	font-style:italic;
	}
	
.awards_header {
	margin:0 0 1.5em 0;
	}	
	
/*News*/

.text td.news {
	width:50%;
	padding:0 20px 21px 0;
	}
	
.text td.news h3 {
	margin:0;
	}	
	
.date {
	font-family:Arial, Helvetica, sans-serif;
	font-size:0.86em;
	line-height:1.74em;
	margin:0;
	color:#777;
	}		

/* About */
	
.about {
	width:100%;
	table-layout:fixed;
	border-collapse:collapse;
	margin:0 0 30px 0;
	}	
	
.about td.pic {
	padding:0;
	}	
	
.about td.txt {
	padding:0 20px 0 0;
	vertical-align:middle;
	}
	
.about td.txt p {
	font-size:1.14em;
	margin-bottom:1em;
	}	

.about td.txt p.new {
	font-size:1.14em;
	margin-bottom:0;
	}	

/*Main_menu*/	

.main_menu {
	font-size:16px;
	float:left;
	width:100%;
	margin:32px 0 0 0;
	padding:0;
	position:relative;
	left:-20px;
	}
	
.main_menu a {
	color:#555;
	}
	
.main_menu a:hover {
	color:#c00;
	}

.main_menu ul {
	margin:0;
	padding:0;
	list-style:none;
	}

.main_menu li {
	margin:0;
	padding:0;
	display:inline;
	}

.main_menu a, .main_menu div.current {
	float:left;
/*	background:url("tab_left.png") no-repeat left top;*/
	margin:0;
	padding:0 0 0 20px;
    }
	
.main_menu div.current {
	background:url("/design/images/tab_left.png") no-repeat 0% -34px;
    }	
    
.main_menu a span, .main_menu div.current span {
	float:left;
	display:block;
/*	background:url("tab_right.png") no-repeat right top;*/
	padding:2px 20px 8px 0;
	}

.main_menu a span {
	text-decoration:underline;
	}
	
.main_menu div.current span {
	background:url("/design/images/tab_right.png") no-repeat 100% -34px;
	color:#000;
	}
	
.main_menu a:hover span {
	text-decoration:none;
	cursor:pointer;
	}	
	
/*Left_menu*/	

.left_menu {
	width:100%;
	}

.left_menu ul {
	margin:0;
	padding:0;
	}
	
.left_menu li {
	line-height:1.5em;
	list-style:none;
	padding:0;
	margin:0 0 1.5em 0;
	background:none;
	}

.left_menu li.mm_current {
	font-weight:bold;
	color:#a00;
	}	
	
/*Right Box*/	

.right_box {
	padding:1.5em 1.25em 0 1.25em;
	background:url(/design/images/hmp_w.png);
	border-radius:10px;
	border:1px solid #EFE6DE;
	}
	
/*Misc*/

.smallcaps {
	letter-spacing:0.05em;
	font-variant:small-caps;
	}
	
.impact {
	font-size:2.57em;
	height:96px;
	padding:30px 0 0 10px;
	color:#333;
	}	
	
.pub {
	font-size:1.14em;
	background:url(/design/images/pen.png)
	100px 7px
	no-repeat;
	padding:0 0 20px 0;
	margin:0 0 1.32em 0;
	line-height:1.32em;
	border-bottom:1px dashed #c4837a;
	}
	
.search {
	font-size:0.86em;
	line-height:1.74em;
	margin:0;
	font-style:italic;
	}

.search_input {
	font-family:Arial, Helvetica, sans-serif;
	font-size:0.86em;
	width:96%;
	margin:0 0 0.5em 0;
	padding:0.2em;
	border:1px solid #bbb;
	}	
	
.scissor {
	border-bottom:1px dashed #999;
	height:21px;
	margin:0 0 21px 0;
	background:url(/design/images/scissor.png)
	7% 2px
	no-repeat;
	}	
	
.out {
	padding-left:16px;
	background:
	url("/design/images/out.gif")
	no-repeat
	0 4px;
	}
	
.gutdesign {
	background:
	url(/design/images/gutdesign.gif)
	no-repeat
	0 1px;
	padding:0 0 1px 20px;
	}	